n8n_work_flows/2___Use_after_starting_the_project_test_SQL_insert_select_delete.json
{
  "name": "1___Use_after_starting_the_project_test_SQL_insert_select_delete",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        80,
        400
      ],
      "id": "7c6082f8-d016-4f3c-a66f-4d07c53dbaf6",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "content": "# You must run this flow:\nThis workflow ensures **consistency with the requirements** of the project and **testing** of the database.\n\n\nRun this workflow to TEST the tables of the database **after starting the project**\n\n## What this flow does:\n1. Checks if **data exists**\n2. if it **does** then the data is SELECTED\n2. otherwise data is **INSERTED, SELECTED, partialy DELETED then fully deleted (TRUNCATED)**\n\n\n*Tip: run each node one by one and use DBeaver to see if data is actually appearing and disapearing from the DB*",
        "height": 860,
        "width": 1720,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        -40
      ],
      "typeVersion": 1,
      "id": "b7434dce-3eba-4424-870f-b6c4fa9978b8",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "/* -----------------------------------------------------------------\n   Seed test data (clients, contracts,\n   energy_readings).  All statements run inside a single transaction\n   so they either all succeed or all roll back.\n------------------------------------------------------------------*/\nBEGIN;\n\n/* === 1. clients  ============================================== */\nINSERT INTO clients (id, name) VALUES\n    (1, 'Client A'),\n    (2, 'Client B'),\n    (3, 'Client C');\n\n/* === 2. contracts  ============================================ */\n/* each contract belongs to one client                            */\nINSERT INTO contracts (id, client_id, is_active, created_at) VALUES\n    (1, 1, TRUE, '2025-06-10'),\n    (2, 2, TRUE, '2025-06-11'),\n    (3, 3, TRUE, '2025-06-12'),\n    (4, 1, TRUE, '2025-06-13');   -- extra contract for Client A\n\n/* === 3. energy_readings  ====================================== */\n/* each reading belongs to one contract                           */\nINSERT INTO energy_readings (id, contract_id, reading_amount_kwh, created_at) VALUES\n    (1, 1,  100.00, '2025-06-10'),\n    (2, 2,  300.00, '2025-06-11'),\n    (3, 3, 2000.00, '2025-06-12'),\n    (4, 4, 2200.00, '2025-06-13');\n\nCOMMIT;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        860,
        600
      ],
      "id": "65204a54-66a3-4f90-a11d-61d404a4536f",
      "name": "Inserts data",
      "credentials": {
        "postgres": {
          "id": "lib3KQQokucMgRMe",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "/* 1) Single flattened view: client → contract → reading */\nSELECT\n    cl.id   AS client_id,\n    cl.name AS client_name,\n\n    ct.id         AS contract_id,\n    ct.is_active,\n    ct.created_at AS contract_created_at,\n\n    er.id                 AS reading_id,\n    er.reading_amount_kwh AS reading_kwh,\n    er.created_at         AS reading_at\nFROM clients          cl\nJOIN contracts        ct ON ct.client_id   = cl.id\nJOIN energy_readings  er ON er.contract_id = ct.id\nORDER BY cl.id, ct.id, er.created_at;\n\n/* 2) Total kWh consumed per client */\nSELECT\n    cl.id,\n    cl.name,\n    SUM(er.reading_amount_kwh) AS total_kwh\nFROM clients          cl\nJOIN contracts        ct ON ct.client_id   = cl.id\nJOIN energy_readings  er ON er.contract_id = ct.id\nGROUP BY cl.id, cl.name\nORDER BY cl.id;\n\n/* 3) Quick lookup: every reading for a specific contract */\nSELECT *\nFROM energy_readings\nWHERE contract_id = 1          -- ← replace with the contract you need\nORDER BY created_at DESC;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1100,
        600
      ],
      "id": "f00e60ff-605b-41a1-90ff-09f37cf7b0e8",
      "name": "Pulls data from DB",
      "credentials": {
        "postgres": {
          "id": "lib3KQQokucMgRMe",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "/* n8n Postgres → Execute Query node\n   Deletes **only** the data that belongs to Client 1,\n   following the correct order: readings → contracts → client. */\nBEGIN;\n\n/* 1. Remove every energy reading linked to any contract of Client 1 */\nDELETE FROM energy_readings\nWHERE contract_id IN (\n    SELECT id\n    FROM contracts\n    WHERE client_id = 1\n);\n\n/* 2. Remove all contracts that belong to Client 1 */\nDELETE FROM contracts\nWHERE client_id = 1;\n\n/* 3. Finally, remove Client 1 itself */\nDELETE FROM clients\nWHERE id = 1;\n\nCOMMIT;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1320,
        600
      ],
      "id": "75336d5f-361a-44d8-9758-ea9fee16d6fc",
      "name": "Deletes all data from client 1 in order",
      "credentials": {
        "postgres": {
          "id": "lib3KQQokucMgRMe",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "BEGIN;\n\n-- Remove ALL rows from the three tables in one shot\nTRUNCATE TABLE\n    energy_readings,\n    contracts,\n    clients\nRESTART IDENTITY      -- reset the sequences/serials\nCASCADE;              -- automatically empties child tables first\n\nCOMMIT;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1520,
        600
      ],
      "id": "dd13ba1e-da44-4dbc-aa24-747db1ff5bd3",
      "name": "Deletes ALL test data",
      "credentials": {
        "postgres": {
          "id": "lib3KQQokucMgRMe",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "clients",
          "mode": "list",
          "cachedResultName": "clients"
        },
        "limit": 1,
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        300,
        400
      ],
      "id": "b8c807b3-f0fe-4310-aaf7-dd7a87589418",
      "name": "select last client",
      "credentials": {
        "postgres": {
          "id": "lib3KQQokucMgRMe",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8f9a893a-9b2e-4868-a864-4ce2774c2da4",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        520,
        400
      ],
      "id": "1a8905df-8c49-478e-9d47-6af22dd524b6",
      "name": "Client exists?"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "contracts",
          "mode": "list",
          "cachedResultName": "contracts"
        },
        "limit": 100,
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1140,
        180
      ],
      "id": "a52f8b59-6d0c-4fef-8fdc-657e8757ef79",
      "name": "select table contracts",
      "credentials": {
        "postgres": {
          "id": "lib3KQQokucMgRMe",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "clients",
          "mode": "list",
          "cachedResultName": "clients"
        },
        "limit": 100,
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1140,
        20
      ],
      "id": "efc061b9-8db4-4f07-90f2-2981b3da1e6e",
      "name": "select table clients",
      "credentials": {
        "postgres": {
          "id": "lib3KQQokucMgRMe",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "energy_readings",
          "mode": "list",
          "cachedResultName": "energy_readings"
        },
        "limit": 100,
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1140,
        340
      ],
      "id": "0febec3a-2c31-45c0-b444-5c2f233197ef",
      "name": "select table energy_readings",
      "credentials": {
        "postgres": {
          "id": "lib3KQQokucMgRMe",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "select last client",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inserts data": {
      "main": [
        [
          {
            "node": "Pulls data from DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pulls data from DB": {
      "main": [
        [
          {
            "node": "Deletes all data from client 1 in order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deletes all data from client 1 in order": {
      "main": [
        [
          {
            "node": "Deletes ALL test data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "select last client": {
      "main": [
        [
          {
            "node": "Client exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Client exists?": {
      "main": [
        [
          {
            "node": "select table clients",
            "type": "main",
            "index": 0
          },
          {
            "node": "select table contracts",
            "type": "main",
            "index": 0
          },
          {
            "node": "select table energy_readings",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Inserts data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "544b544f-4235-4bff-8e98-003a88ce5da0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "caab66e1a9e45e87f9a2b25d354c453ee8ec993a7591d8d6a3a18f1e8de7c6e2"
  },
  "id": "f4epsOWrwxCtsPKz",
  "tags": []
}